body {
	font-family: 'Space Mono', monospace;
}

.img-rounded {
	width: 284px;
	height: 166px;
}

.col-vertical-offset {
  margin-top: 30%;
}

a {
	text-decoration: none;
	color: black;
	outline: none;
}

a:visited {
  color: #000;
  }

a:hover {
  color: #000;
  text-decoration: none;
}
