body {
  font-family: 'Space Mono', monospace;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.col-vertical-offset {
  margin-top: 5%;
}

.header-vertical-offset {
  margin-top: 2%;
}

h1, h5 {
  text-align: center;
}

.current-instance {
  background: #F5F5F5;
}

tr.sub-header td {
  font-weight: bold;
}
